body {
  background-color: #442b24;
  color: #ffffff;
  padding-bottom: 6vh;
}

.navbar {
  background-color: #301414;
  color: #ffffff;
}

.navbar-brand, .nav-link {
  color: #ffffff;
}

.secondary {
  background-color: #915d4a;
  color: #ffffff;
  border: 4px solid #301414;
}

.primary {
  background-color: #ddb967;
}

.tertiary {
  background-color: #1d1616;
  color: #ffffff;
  border: 4px solid #573131;
}

footer {
  background-color: #301414;
  color: #ffffff;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #46312c;
   color: white;
 }

 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #5e4843;
   color: white;
 }

 .table-striped>thead>tr:nth-child(odd)>td, 
.table-striped>thead>tr:nth-child(odd)>th {
   background-color: #ddb967;
 }

 .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary {
    background-color: #ddb967 !important;
    border: #ddb967 !important;
    color: black;
}

#home_body {
  background: #121212;
  background-image: 
  radial-gradient(
    circle,
  #12121277 0%, 
  #121212BB 30%,
  #12121200 50%), 
  url(stockimage.png);
  background-size: cover;
}

.page-contact .home-title {
  display: inline-block;
  transform: translateY(-300px);
  -webkit-transform: translateY(-300px);
}

.page-support .home-title {
  display: inline-block;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
}

.left-forms {
  transform: translateX(-100px);
  will-change: transform;
}

.right-forms {
  transform: translateX(-100px);
  will-change: transform;
}

.custom-pagination .page-link {
  background-color: #5e4843;   /* dark gray background */
  color: #fff;              /* white text */
  border: none;             /* optional: remove border */
  cursor: pointer;
}

.custom-pagination .page-link:hover {
  background-color: #46312c;   /* lighter on hover */
  color: #fff;
}

.custom-pagination .page-item.active .page-link {
  background-color: #ddb967;  /* gold for active page */
  color: #000;
  border: none;
}

.custom-pagination .page-item.disabled .page-link {
  background-color: #46312c;  /* gold for active page */
  color: #fff;
  border: none;
  cursor: default;
}

/*Circle attributes*/
.circular-image {
  width: 300px;
  height: 295px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 0 auto;
  object-position: -200px -30px;

  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.circular-image2 {
  width: 300px;
  height: 295px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  object-position: -500px -30px;

  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#img1 {
  position: absolute;
  top: -110px;
  left: -20px;
  width: 420px;
  height: auto;
  transform: scale(0.7);
}

#img2 {
  position: absolute;
  top: -100px;
  left: -60px;
  width: 420px;
  height: auto;
  transform: scale(0.7);
}

.search-container {
    position: relative;
}

.search-input {
    height: 50px;
    border-radius: 30px;
    padding-left: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    color: white;
}

.transparent-input {
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 4%;
  border: none;
  border-bottom: 3px solid #301414;
  color: white;
}

.transparent-input::placeholder {
  color: rgb(190, 190, 190);
}

.transparent-input:focus {
  outline: none;
}

@media (min-width: 900px) { 
  html {
    font-size: 0.60rem;
  }
}

@media (min-width: 1200px) { 
  html {
    font-size: 0.75rem;
  }
}

@media (min-width: 1400px) { 
  html {
    font-size: 0.85rem;
  }
}

@media (min-width: 1920px) { 
  html {
    font-size: 1rem;
  }
}