body {
  background-color: #121212;
  color: #ffffff;
}

#home_body {
  background: #121212;
  background-image: 
  radial-gradient(
    circle,
  #121212FF 0%, 
  #121212CC 30%,
  #12121200 55%), 
  url(stockimage.png);
  background-size: cover;
  background-blend-mode: overlay;
}


@media (min-width: 900px) { 
  html {
    font-size: 0.60rem;
  }
}

@media (min-width: 1200px) { 
  html {
    font-size: 0.75rem;
  }
}

@media (min-width: 1400px) { 
  html {
    font-size: 0.85rem;
  }
}

@media (min-width: 1920px) { 
  html {
    font-size: 1rem;
  }
}