body {
  background-color: #442b24;
  color: #ffffff;
}

.navbar {
  background-color: #301414;
  color: #ffffff;
}

.navbar-brand, .nav-link {
  color: #ffffff;
}

.secondary {
  background-color: #915d4a;
  color: #ffffff;
  border: 4px solid #301414;
}

.primary {
  background-color: #ddb967;
}

.tertiary {
  background-color: #1d1616;
  color: #ffffff;
  border: 4px solid #573131;
}

footer {
  background-color: #301414;
  color: #ffffff;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #46312c;
   color: white;
 }

 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #5e4843;
   color: white;
 }

 .table-striped>thead>tr:nth-child(odd)>td, 
.table-striped>thead>tr:nth-child(odd)>th {
   background-color: #ddb967;
 }

 .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary {
    background-color: #ddb967 !important;
    border: #ddb967 !important;
    color: black;
}

#home_body {
  background: #121212;
  background-image: 
  radial-gradient(
    circle,
  #12121277 0%, 
  #121212BB 30%,
  #12121200 50%), 
  url(stockimage.png);
  background-size: cover;
}


@media (min-width: 900px) { 
  html {
    font-size: 0.60rem;
  }
}

@media (min-width: 1200px) { 
  html {
    font-size: 0.75rem;
  }
}

@media (min-width: 1400px) { 
  html {
    font-size: 0.85rem;
  }
}

@media (min-width: 1920px) { 
  html {
    font-size: 1rem;
  }
}