{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-8 content-scroll">
    <div class="content-inner">
      <h1>About Us</h1>
      <br>
      
      <p>Welcome to our Stock Trading Website! Our mission is to make investing and tracking stocks simple, intuitive, and accessible for everyone. Whether you are a beginner looking to understand the basics of the stock market or an experienced investor managing multiple portfolios, our platform is designed to help you make informed decisions with ease.</p>
      <p>We provide real-time stock information, easy-to-use tools, and a secure environment to ensure your trading experience is smooth and reliable. Our team is constantly working behind the scenes to improve the functionality of the website, optimize performance, and incorporate user feedback to enhance overall usability.</p>
      <p>Your satisfaction is our top priority. From responsive design to clear and organized data presentation, every aspect of our website is developed with the goal of providing a seamless and enjoyable experience. We believe that by combining technology, security, and user-centric design, we can empower our users to trade confidently and efficiently.</p>
      <br>
      <p>Thank you for visiting, and we look forward to supporting your trading journey!</p>

      <h6>Market Hours:</h6>
        <p>8:00 a.m. - 5:00 p.m.</p>
      <h6>Closed on Federal Holidays</h6>
          <p>Jan 01 - New Years</p>
          <p>Jan 15 - Martin Luther King Jr. Day</p>
          <p>Feb 19 - Presidents' Day</p>
          <p>May 27 - Memorial Day</p>
          <p>Jun 19 - Juneteenth National Independence Day</p>
          <p>Jul 04 - Independence Day</p>
          <p>Sep 02 - Labor Day</p>
          <p>Oct 14 - Columbus Day</p>
          <p>Nov 11 - Veterans Day</p>
          <p>Nov 28 - Thanksgiving Day</p>
          <p>Dec 25 - Christmas Day</p>
      
      </div>
  </div>
</div>
{% endblock %}