{% extends "base.html" %}
{% block title %}Edit Holidays{% endblock %}
{% block content %}

<div class="container-fluid pt-4" style="min-height: calc(80vh - 120px); height: calc(80vh - 120px); padding-left: 5%; padding-right: 5%;">
    <h1 class="pb-2">Holiday Overview</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    
    <div style="display: flex; justify-content: space-around; align-items: flex-start; height: 100%;" class="mt-5">

        <div class="container tertiary rounded-5 p-5" style="flex: 0 0 30%;">
            <h2 class="text-center">Add Holiday</h2>
            <form action="{{ url_for('add_holiday') }}" method="POST">
                <div class="row justify-content-center">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-3 mt-3">
                                <label class="form-label">Holiday Name:</label>
                                <input type="text" name="name" class="form-control" required maxlength="120">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-3 mt-3">
                                <div class="mb-3">
                                    <label for="holiday_date" class="form-label">Date:</label>
                                    <input id="holiday_date" name="holiday_date" class="form-control" type="date" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mt-3">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="container tertiary p-5" style="flex: 0 0 50%; height: 100%;">
            <h2 class="text-center mb-4">Current Holiday List:</h2>
            {%  if not holidays  %}
                <div class="d-flex justify-content-center">
                <p class="text-center fs-4 mt-3 p-3" style="width: 40rem; background-color: #28282c; border-radius: 30px;">No detected holidays.</p>
                </div>
              {%  else  %}
                <div class="table-responsive overflow-auto d-flex" style= "height: 90%;">
                  <table class="table table-striped text-center border-bottom border-dark" style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                    <thead style="width: 100%;">
                      <tr style="width: 100%; padding: 0; margin: 0;">
                        <th style="width: 35%;">Date</th>
                        <th style="width: 35%;">Holiday Name</th>
                        <th style="width: 30%;">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    {%  for h in holidays  %}
                      <tr>
                        <td>{{ h.holiday_date.strftime('%m/%d/%Y') }}</td>
                        <td>{{ h.name }}</td>
                        <td>
                        <a href="{{ url_for('delete_holiday', name=h.name) }}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Delete {{ h.name }}?');">Delete</a>
                        <td>
                      </tr>
                      {%  endfor  %}
                    </tbody>
                  </table>
                </div>
              {%  endif  %}
        </div>

    </div>
</div>
{% endblock %}