{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        h1 { color: white; }
    </style>
</head>
<body>
    <div class="container mt-5">
    <nav>
        <ul lstyle="list-style-type:=none">
            <li><a href="/login" class="btn btn-info btn-sm">Login</a></li>
            <li><a href="/register" class="btn btn-info btn-sm">Create account</a></li>
        </ul>
    </nav>
    <h1>Login to your account</h1>
    
    <form action="#" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</body>
</html>

{% endblock %}