{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<title>Sell Stock</title>
  <table class="table table-dark"> 
            <thead> 
                <tr> 
                    <th>Stock name</th> 
                    <th>User balance</th>
                    <th>Stock price</th> 
                    <th>Shares</th> 
                    <th>New Balance</th>
                </tr> 
            </thead> 
            <tbody>
                {% for stock in stocks %}
                <tr> 
                    <td>{{sell.name}}</td>
                    <td>{{sell.balance}}</td> 
                    <td>{{sell.price}}</td> 
                    <td>{{sell.shares}}</td>
                    <td>{{sell.new_balance}}</td>
                </tr> 
                {% else %} 
                <tr> 
                    <td colspan="6">The Sell List is empty.</td> 
                </tr>

                {% endfor %} 
            </tbody> 
        </table> 
    <form action="#" method="POST">
        <div class="mb-3">
            <label for="Stock Name" class="form-label">Stock name:</label>
            <input type="text" name="Stock Name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="Balance" class="form-label">Balance:</label>
            <input type="float" name="Balance" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="Price" class="form-label">Stock Price:</label>
            <input type="float" name="Stock Price" class="form-control" required>
        </div>
            <div class="mb-3">
            <label for="Shares" class="form-label">Shares:</label>
            <input type="int" name="Shares" class="form-control" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
        </div>
    </body>
{% endblock %}