{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 120px); padding-bottom: 40px;">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container bg-dark border border-light rounded-5 p-5" style="max-width: 700px;">
        <h1 class="text-center">Create account</h1>
        <form action="#" method="POST">

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label">Email:</label>
                        <input type="text" name="email" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="mb-3"> 
                        <label class="form-label">Password:</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">First Name:</label>
                        <input type="text" name="fname" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Last Name:</label>
                        <input type="text" name="lname" class="form-control" required>
                    </div>
                </div>
            </div>

             <div class="row justify-content-center mt-3">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
             </div>
        </form>
    </div>
</div>

{% endblock %}