{% extends "base.html" %}
{% block title %}Stock List{% endblock %}
{% block content %}
<title>Stock List</title>
<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
</head>
    <body>
        <div class="container mt-5">
        <h1>List of Stocks</h1>
        <div class = "d-flex justify-content-start gap-2 mb-3 mt-3">
            <a class = "btn btn-primary" href = "/buy">Buy</a>
            <a class = "btn btn-primary" href = "/sell">Sell</a>
        </div> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <div class="secondary p-4 pb-3">
                <div class="search-container mb-3">
                    <i class="bi bi-search search-icon"></i>
                    <input type="text" class="transparent-input" placeholder="Search..." name="q" hx-get="/search" hx-trigger="keyup changed delay:550ms" hx-target="#stock_list">
                </div>

                    <table class="table table-striped border-dark" id="stock_list"> 
                        <thead> 
                            <tr> 
                                <th>Name</th>
                                <th>Ticker Symbol</th>
                                <th>Price per stock</th>
                                <th>Difference</th>
                                <th>Percent Change</th>
                                <th>Volume</th>
                            </tr> 
                        </thead> 
                        <tbody>
                            {% for stock in stocks %}
                            <tr> 
                                <td>{{ stock.name }}</td> 
                                <td>{{ stock.ticker }}</td> 
                                <td>${{ "%.2f"|format(stock.price) }}</td> 
                                {% if stock.previous_price is not none %}
                                {% set diff = stock.price - stock.previous_price %}
                                {% if diff > 0 %}
                                <td style="color: rgb(145, 255, 145);">${{ '%+.2f'|format(diff)}}</td>
                                {% elif diff < 0 %}
                                <td style="color: rgb(255, 145, 145);">${{ '%+.2f'|format(diff)}}</td>
                                {% else %}
                                <td>{{ '%+.2f'|format(diff) }}</td>
                                {% endif %}
                                {# percent change column #}
                                {% if stock.previous_price != 0 and stock.previous_price is not none %}
                                    {% set pct = ((stock.price - stock.previous_price) / stock.previous_price) * 100 %}
                                    {% if pct > 0 %}
                                    <td style="color: rgb(145, 255, 145);">{{ '%+.2f'|format(pct) }}%</td>
                                    {% elif pct < 0 %}
                                    <td style="color: rgb(255, 145, 145);">{{ '%+.2f'|format(pct) }}%</td>
                                    {% else %}
                                    <td>{{ '%+.2f'|format(pct) }}%</td>
                                    {% endif %}
                                {% else %}
                                    <td>N/A</td>
                                {% endif %}
                                {% else %}
                                <td>N/A</td>
                                <td>N/A</td>
                                {% endif %}
                                <td>{{ (format_num(stock.volume)) }}</td> 
                            </tr> 
                            {% else %} 
                            <tr> 
                                <td colspan="6">The Stock List is empty.</td> 
                            </tr> 
                            {% endfor %} 
                        </tbody> 
                    </table>

                    <nav class="mt-4" id="pagination">
                    <ul class="pagination justify-content-center custom-pagination">
                        {% if stocks.has_prev %}
                            <li class="page-item">
                            <a class="page-link" href="{{ url_for('stocks', page_num=stocks.page - 1) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                            <a class="page-link" href="{{ url_for('stocks', page_num=stocks.page - 1) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            </li>
                        {% endif %}

                        {% for page in stocks.iter_pages() %}
                            {% if page == current_page %}
                                <li class="page-item active"><a class="page-link" href="{{ url_for('stocks', page_num=page) }}">{{ page }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ url_for('stocks', page_num=page) }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if stocks.has_next %}
                            <li class="page-item">
                            <a class="page-link" href="{{ url_for('stocks', page_num=stocks.page + 1) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                            <a class="page-link" href="{{ url_for('stocks', page_num=stocks.page + 1) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                        {% endif %}
                    </ul>
                    </nav>

            </div> 
        </div>
    </body>
{% endblock %}